body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    text-align: center;
    padding: 50px 20px;
}

h1 {
    color: #2c3e50;
}

form {
    background-color: #fff;
    max-width: 400px;
    margin: 0 auto 30px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, button {
    padding: 10px;
    margin: 5px 0 15px 0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

ul {
    list-style-type: none;
    padding: 0;
    max-width: 600px;
    margin: 0 auto;
}

li {
    background-color: #ecf0f1;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    text-align: left;
}