{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>🔐 Войти</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form method="POST" class="book-form">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.username.label }} {{ form.username }}
        </div>
        <div class="form-group">
            {{ form.password.label }} {{ form.password }}
        </div>
        <button type="submit" class="btn btn-primary">Войти</button>
    </form>
    <p>Нет аккаунта? <a href="{{ url_for('register') }}">Зарегистрируйтесь</a></p>
</div>
{% endblock %}